<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<table border="1">
    <tr><td><b>ID</b></td><td><b>Name</b></td><td><b>Category</b></td><td><b>Price</b></td><td><b>Qty</b></td></tr>

    {% for category in categories %}
        {% for product in products %}
            {% if category.getId() == product.Category.getId() %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.Category.name }}</td>
                    <td>{{ product.price }}</td><td>
                    </td><td>{{ product.qty }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <table>
</body>
</html>