{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1>Register</h1>

                    {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                    {% endfor %}


{#                    {% if formIsSubmitter == false %}#}
                        {% for error in errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error.message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {{ form_start(form) }}
{#                    {{ form_errors(form) }}#}

                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        {{ form_help(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.dateOfBirth) }}
                        {{ form_widget(form.dateOfBirth) }}
                        {{ form_help(form.dateOfBirth) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.male) }}
                        {{ form_widget(form.male) }}
                        {{ form_help(form.male) }}
                    </div>


                    <button type="submit" class="btn btn-outline-primary">REGISTER</button>
                    {{ form_end(form) }}
{#                    {% endif %}#}
                </div>
            </div>
        </div>
    {% endblock %}